@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Backgrounds */
  --background-page-color: #F2F2F2;
  --background-basic-color: #ffffff;
  --background-basic-contrast-color: #756157;
  --background-main-color: #82b3d3;
  --background-secondary-color: #83b3d31f;
  --background-secondary-accent-color: #83b3d333;
  --background-shadow-color: #00000033;

  /* Borders */
  --border-card-color: #E6E6E6;
  --border-input-color: #83b3d3;

  /* Texts */
  --text-main-color: #000000;
  --text-secondary-color: #333333;
  --text-background-color: #ffffff;
  --text-background-small-color: #ffffff4d;
  --text-error-color: #ff5757;

  /* Buttons */
  --button-main-color: #756157;
  --button-main-transparent-color: #75615700;
  --button-secondary-color: #82b3d3;
  --button-secondary-success-color: #7db54f;

  /* Inputs */
  --input-main-color: #3f5e72;
  --input-element-color: #e5e5e5;
  --input-element-secondary-color: #f2f2f2;

  /* Icons */
  --icon-main-color: #000000;
  --icon-secondary-color: #83b3d3;
  --icon-secondary-selected-color: #7db54f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Common styles */
.section-title {
  color: var(--text-main-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

/* Button Styles */
.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.button-current {
  background-color: var(--background-page-color);
  color: var(--text-main-color);
}

.button-primary {
  background-color: var(--button-main-color);
  color: var(--text-background-color);
}

.button-secondary {
  background-color: var(--button-secondary-color);
  color: var(--text-background-color);
}

.button-selected {
  background-color: var(--icon-secondary-selected-color);
  color: var(--text-background-color);
}

/* Cards Styles */
.card-primary {
  background-color: var(--background-main-color);
  color: var(--text-background-color);
}

.card-secondary {
  background-color: var(--background-secondary-color);
  color: var(--text-main-color);
}

.card-secondary-accent {
  background-color: var(--background-secondary-accent-color);
  color: var(--text-main-color);
}

.card-title {
  color: var(--text-main-color);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

.card-description {
  color: var(--text-secondary-color);
  text-align: center;
  margin: 0;
}

.card-primary-title, .card-primary-description {
  color: var(--text-background-color);
}

/* Container Styles  */
html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background-color: var(--background-page-color);
  color: var(--text-secondary-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-basic-color);
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 var(--background-shadow-color);
  min-height: 100%;
}

.main-index {
  flex-grow: 1;
}

.filters-container {
  background-image: url(../images/catalog-background.jpg);
  background-color: var(--background-basic-contrast-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.catalog-wrapper {
  padding: 0 70px;
}

/* Navigation Section Styles */
.main-header {
  display: flex;
  padding: 0 70px;
}

.main-header-logo {
  margin-right: 28px;
  margin-bottom: -5px;
  position: relative;
  z-index: 2;
  max-width: 100%;
  object-fit: cover;
}

.main-header-logo-image {
  display: block;
}

.main-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: var(--text-main-color);
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-grow: 1;
}

.main-navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.button-icon {
  position: relative;
}

.activities-wrapper {
  display: flex;
  align-items: center;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;
}

.activities-link {
  display: block;
  padding: 22px 12px;
  min-width: 18px;
  min-height: 18px;
  text-decoration: none;
}

.activities-button {
  position: relative;
  padding: 8px 34px;
}

.search-icon::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/icons/search-icon.svg") no-repeat center / cover;
}

.favorite-icon::before {
  content: "";
  display: block;
  min-width: 18px;
  min-height: 17px;
  background: url("../images/icons/like-icon.svg") no-repeat center / cover;
}

.favorite-count {
  position: absolute;
  top: 10px;
  right: 2px;
  z-index: 1;
  color: var(--text-background-color);
  background-color: var(--button-secondary-success-color);
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  text-decoration: none;
  border-radius: 50%;
  padding: 5px;
}

/* Hero Section Styles */
.hero {
  padding: 51px 0 83px;
  background-image: url(../images/hero-background-divider.svg), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto, cover;
  margin-bottom: 69px;
}

.hero-title {
  display: block;
  margin: 0 auto;
}

/* Filter Section Styles */
.filters-header {
  color: var(--text-background-color);
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumb-link {
  color: var(--text-background-color);
  font-size: 16px;
  text-decoration: none;
}

.home-icon::after {
  content: "";
  display: block;
  min-width: 13px;
  min-height: 15px;
  background: url("../images/icons/home.svg") no-repeat center / cover;
  margin-right: 10px;
}

.form-title {
  color: var(--text-background-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filters-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-filters-item {
  margin-bottom: 16px;
}

.form-group {
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.hotel-filters-form:last-child {
  margin-right: 0;
}

.form-title {
  margin: 0;
  margin-bottom: 32px;
}

.form-label {
  color: var(--text-background-color);
  line-height: 23px;
}

.form-group-range {
  margin-left: auto;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
}

.range-input {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--icon-main-color);
  box-sizing: border-box;
  border-width: 0;
  width: 143px;
  padding: 12px 20px;
  background-color: var(--background-page-color);
}

.range-input-from {
  border-radius: 4px 0 0 4px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.hotel-filters-form {
  display: flex;
}

.hotel-filters-form .button {
  border-width: 0;
  padding: 8px;
  width: 191px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.button-reset {
  background-color: var(--button-main-transparent-color);
  color: var(--text-background-color);
}

/* Advantages Section Styles */
.advantages {
  margin-bottom: 64px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-description {
  margin-bottom: 90px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  padding: 103px 85px;
  max-width: 400px;
  min-height: 385px;
  height: 100%;
}

.advantage-item-image-left {
  display: flex;
  flex-direction: row;
}

.advantage-item-image-right {
  display: flex;
  flex-direction: row-reverse;
}

.advantage-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Recomendations Section Styles */
.recommendations {
  margin-bottom: 96px;
}

.recommendations-title {
  margin-bottom: 20px;
}

.recommendation-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  height: 100%;
}

.recommendation-card .card-title {
  margin-bottom: 30px;
}

.house-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: url("../images/icons/hotels-large-icon.svg") no-repeat center / cover;
}

.food-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: url("../images/icons/burger-large-icon.svg") no-repeat center / cover;
}

.souvenirs-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: url("../images/icons/gift-large-icon.svg") no-repeat center / cover;
}

.recommendations-description {
  margin-bottom: 64px;
}

.recommendation-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* Catalog Section Styles */
.catalog-header {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  color: var(--text-main-color);
}

.catalog-settings {
  display: flex;
}

.catalog-sorting {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid var(--input-element-color);
  color: var(--text-secondary-color);
  margin-right: 70px;
}

.catalog-style-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.icon-card::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  margin: 0 auto;
  background: url("../images/icons/grid-icon.svg") no-repeat center / cover;
}

.icon-slider::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  margin: 0 auto;
  background: url("../images/icons/stack-icon.svg") no-repeat center / cover;
}

.icon-list::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  margin: 0 auto;
  background: url("../images/icons/list-icon.svg") no-repeat center / cover;
}

.catalog-style-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid var(--input-element-color);
}

.catalog-style-current {
  border: 2px solid var(--icon-main-color);
}

.catalog-list {
  list-style: none;
  padding: 0;
}

.catalog-card {
  border: 1px solid var(--border-card-color);
  border-radius: 4px;
  padding: 20px;
}

.catalog-card-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 16px;
}

.catalog-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.catalog-card-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 18px;
}

.catalog-actions {
  display: flex;
  margin-bottom: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog-actions button {
  border-radius: 4px;
  width: 143px;
  min-height: 36px;
  border: 0;
}

.button-more-info {
  padding: 8px 26px;
}

.catalog-card-link {
  text-decoration: none;
  color: var(--icon-main-color);
}

.catalog-rating {
  display: flex;
  justify-content: space-between;
}

.catalog-card-rating {
  font-size: 16px;
  background-color: var(--background-page-color);
  padding: 8px 22px;
  border-radius: 4px;
}

.navigation-pages {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.navigation-page-item .button {
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
}

/* Hotel Search Section Styles */
.hotel-search {
  text-align: center;
  margin-bottom: 96px;
}

.hotel-search-description {
  margin-bottom: 54px;
}

.hotel-search .button-primary {
  font-size: 20px;
  padding: 8px 50px;
}

/* Subscription Section Styles */
.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subscription-background {
  background-image: url(../images/subscribe-background.jpg);
  background-color: var(--background-basic-contrast-color);
  color: var(--text-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscription-background .section-title {
  color: var(--text-background-color);
}

.subscription-section-description {
  margin-bottom: 54px;
}

.subscription-form .form-input {
  box-sizing: border-box;
  width: 452px;
  min-height: 52px;
  margin: 0;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  background-color: var(--background-page-color);
}

.subscription-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-main-color);
  outline: none;
}

.form-input:focus {
  outline: 3px solid var(--border-input-color);
}

.subscription-button {
  min-height: 52px;
  border-radius: 0 4px 4px 0;
  border-width: 0;
  margin: 0;
  padding: 8px 50px;
}

/* Footer Styles */
.main-footer-nav {
  display: flex;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-main-color);
}

.footer-developer-logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-item-vk::after {
  content: "";
  display: block;
  width: 24px;
  height: 14px;
  margin: auto;
  background: url("../images/icons/social-network-vk.svg") no-repeat center / cover;
}

.social-item-telegram::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  margin: auto;
  background: url("../images/icons/social-network-telegram.svg") no-repeat center / cover;
}

.social-item-youtube::after {
  content: "";
  display: block;
  width: 22px;
  height: 17px;
  margin: auto;
  background: url("../images/icons/social-network-youtube.svg") no-repeat center / cover;
}
