@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-display: swap;
}

:root {
  /* Backgrounds */
  --background-page-color: #F2F2F2;
  --background-basic-color: #ffffff;
  --background-basic-contrast-color: #756157;
  --background-main-color: #82b3d3;
  --background-secondary-color: #83b3d31f;
  --background-secondary-accent-color: #83b3d333;
  --background-shadow-color: #00000033;
  --background-tooltip-color: #333333;

  /* Borders */
  --border-card-color: #E6E6E6;
  --border-input-color: #83b3d3;
  --card-primary-border-decorative-color: #FFFFFF4D;
  --card-border-decorative-color: #0000004D;

  /* Texts */
  --text-main-color: #000000;
  --text-secondary-color: #333333;
  --text-background-color: #ffffff;
  --text-background-hover-color: #ffffff99;
  --text-background-active-color: #ffffff4d;
  --text-background-small-color: #ffffff4d;
  --text-error-color: #ff5757;
  --text-links-hover-color: #756157;
  --text-links-active-color: #753D394D;

  /* Buttons */
  --button-main-color: #756157;
  --button-main-hover-color: #615048;
  --button-main-active-color: #756157;
  --button-disabled-color: #e5e5e5;
  --button-main-transparent-color: #75615700;
  --button-secondary-color: #82b3d3;
  --button-secondary-hover-color: #68A2CA;
  --button-secondary-success-color: #7db54f;
  --button-secondary-success-hover-color: #6C9E42;
  --button-transparent-active-color: #ffffff4c;

  /* Inputs */
  --input-main-color: #3f5e72;
  --input-element-color: #e5e5e5;
  --input-element-secondary-color: #f2f2f2;
  --input-element-hover-color: #E6E6E6;

  /* Icons */
  --icon-main-color: #000000;
  --icon-secondary-color: #83b3d3;
  --icon-secondary-hover-color: #68A2CA;
  --icon-secondary-active-color: #68A2CA4D;
  --icon-secondary-selected-color: #7db54f;

  /* Decorations */
  --current-item0decoration-color: #756257;
  --transparent-decoration-color: #00000000;
  --inputs-shadow-color: #00000040;
  --modal-window-fade-color: #F2F2F2CC;
  --modal-window-shadow-color: #00000026;
  --model-close-button-color: #e6e6e6;
  --model-close-button-active-color: #0000004D;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-page-color);
  padding: 0;
  height: 100%;
  color: var(--text-secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 var(--background-shadow-color);
  background-color: var(--background-basic-color);
  width: 1200px;
  min-height: 100%;
}

.main-content {
  flex-grow: 1;
}

.filters-container {
  margin-top: -1px;
  margin-bottom: 50px;
  background-image: url(../images/catalog-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-basic-contrast-color);
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 56px;
  padding-left: 70px;
}

.catalog {
  margin-bottom: 59px;
}

.catalog-wrapper {
  padding: 0 70px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  position: absolute;
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

/* Common styles */
.section-title {
  margin: 0;
  color: var(--text-main-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Button Styles */
.button {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-current {
  background-color: var(--background-page-color);
  color: var(--text-main-color);
}

.button-current:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.button-primary {
  background-color: var(--button-main-color);
  color: var(--text-background-color);
}

.button-primary:hover {
  background-color: var(--button-main-hover-color);
}

.button-primary:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.button-primary:active {
  background-color: var(--button-main-active-color);
  color: var(--text-background-active-color);
}

.button-secondary {
  background-color: var(--button-secondary-color);
  color: var(--text-background-color);
}

.button-secondary:hover {
  background-color: var(--button-secondary-hover-color);
}

.button-secondary:focus-visible {
  outline: 3px solid var(--button-main-hover-color);
}

.button-secondary:active {
  background-color: var(--button-secondary-color);
  color: var(--text-background-active-color);
}

.button-selected {
  background-color: var(--button-secondary-success-color);
  color: var(--text-background-color);
}

.button-selected:hover {
  background-color: var(--button-secondary-success-hover-color);
}

.button-selected:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.button-selected:active {
  background-color: var(--button-secondary-success-color);
  color: var(--text-background-active-color);
}

.button:disabled {
  background-color: var(--button-disabled-color);
}

.button-transparent {
  border: 3px solid var(--transparent-decoration-color);
  border-radius: 4px;
  background-color: var(--button-main-transparent-color);
  color: var(--text-background-color);
}

.button-transparent:hover {
  color: var(--text-background-hover-color);
}

.button-transparent:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.button-transparent:active {
  border: 3px solid var(--transparent-decoration-color);
  color: var(--button-transparent-active-color);
}

.button-transparent:disabled {
  opacity: 10%;
  border: 3px solid var(--transparent-decoration-color);
}

.button-transparent-accent {
  color: var(--text-main-color);
}

.button-transparent-accent:hover {
  color: var(--card-border-decorative-color);
}

.button-transparent-accent:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.button-transparent-accent:focus {
  color: var(--card-border-decorative-color);
}

.button-large {
  box-sizing: border-box;
  padding: 8px 50px;
}

.button-small {
  padding: 8px 34px;
}

/* Inputs Styles */
.input-element {
  border: 2px solid var(--transparent-decoration-color);
  border-radius: 4px;
}

.input-element:hover {
  background-color: var(--input-element-hover-color);
}

.input-element:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.input-element:focus {
  background-color: var(--input-element-hover-color);
}

.input-element:disabled {
  opacity: 30%;
  color: var(--card-border-decorative-color);
}

/* Links Style */
.navigation-link {
  color: var(--text-main-color);
}

.navigation-link:hover {
  color: var(--text-links-hover-color);
}

.navigation-link:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.navigation-link:focus {
  color: var(--text-links-hover-color);
}

.navigation-link:active {
  color: var(--text-links-active-color);
}

/* Navigation Section Styles */
.main-header {
  display: flex;
  padding: 0 70px;
}

.main-header-logo {
  display: block;
  position: relative;
  z-index: 2;
  margin-right: 44px;
  margin-bottom: -6px;

}

.main-header-logo:focus {
  outline: 3px solid var(--border-input-color);
}

.main-header-logo-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.main-navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  color: var(--text-main-color);
}

.main-navigation-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
}

.main-navigation-item {
  margin-right: 32px;
  border-bottom: 2px solid var(--transparent-decoration-color);
}

.main-navigation-item-current {
  border-bottom: 2px solid var(--current-item0decoration-color);
}

.main-navigation-link {
  display: block;
  padding: 20px 0;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.activities-wrapper {
  display: flex;
  align-items: center;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.activities-link {
  display: block;
  position: relative;
  padding: 22px 12px;
  min-width: 20px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.activities-button {
  display: block;
  box-sizing: border-box;
  margin-left: 20px;
  min-width: 160px;
  max-width: 390px;
  text-align: center;
}

.activities-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.activities-link:hover {
  color: var(--text-links-hover-color);
}

.activities-link:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.activities-link:active {
  color: var(--text-links-active-color);
}

.favorite-count {
  position: absolute;
  right: 3px;
  bottom: 23px;
  z-index: 1;
  border-radius: 50%;
  background-color: var(--button-secondary-success-color);
  padding: 5px;
  color: var(--text-background-color);
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
}

/* Hero Section Styles */
.hero {
  margin-top: -1px;
  margin-bottom: 66px;
  background-image: url(../images/hero-background-divider.svg), url(../images/hero-background.jpg);
  background-position: bottom;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: var(--background-basic-contrast-color);
  padding: 51px 0 83px;
}

.hero-title {
  display: block;
  margin: 0 auto;
}

/* Filter Section Styles */
.filters-header {
  margin: 0;
  margin-bottom: 8px;
  color: var(--text-background-color);
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumb-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumb-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -24px;
  transform: translateY(-50%);
  background-image: url(../images/icons/breadcrumbs-icon.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 21px;
  content: "";
}

.breadcrumb-link {
  color: var(--text-background-color);
  font-size: 16px;
  text-decoration: none;
}

.breadcrumb-link:hover {
  color: var(--text-background-hover-color);
}

.breadcrumb-link:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.breadcrumb-link:focus {
  color: var(--text-background-color);
}

.breadcrumb-link:active {
  color: var(--text-background-active-color);
}

.form-title {
  color: var(--text-background-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-filters-item {
  margin-bottom: 16px;
}

.form-group {
  margin: 0;
  margin-right: 66px;
  border: none;
  padding: 0;
}

.hotel-filters-form:last-child {
  margin-right: 0;
}

.form-title {
  margin: 0;
  margin-bottom: 32px;
}

.form-label {
  color: var(--text-background-color);
  line-height: 23px;
}

.form-input-label {
  position: relative;
  cursor: pointer;
  padding-left: 36px;
}

.form-input-mark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-basic-color);
  width: 20px;
  height: 20px;
}

.form-input-checkbox-mark {
  border-radius: 4px;
  background-color: var(--background-basic-color);
}

.form-input-label:hover .form-input-mark,
.form-input-label:hover .form-label {
  opacity: 60%;
}

.form-input-checkbox:focus + .form-input-mark {
  outline: 3px solid var(--border-input-color);
  border-radius: 4px;
}

.form-input-radio:focus + .form-input-mark {
  outline: 3px solid var(--border-input-color);
}

.form-input:disabled,
.form-input:disabled + .form-input-mark,
.form-input-label:disabled .form-label {
  opacity: 30%;
}

.form-input-label:active .form-label,
.form-input-label:active .form-input-mark {
  opacity: 30%;
}

.form-input-checkbox:checked + .form-input-checkbox-mark {
  background-image: url(../images/icons/checked-icon.svg);
  background-position: center;
  background-size: 13px 11px;
  background-repeat: no-repeat;
}

.form-input-radio-mark {
  border-radius: 50%;
}

.form-input-radio:checked + .form-input-radio-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--input-main-color);
  width: 10px;
  height: 10px;
  content: "";
}

.form-group-range {
  margin-right: 71px;
  margin-left: 85px;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 36px;
}

.form-range-label {
  position: relative;
}

.range-input {
  -moz-appearance: textfield;
  box-sizing: border-box;
  background-color: var(--background-page-color);
  padding: 10px 40px 10px 20px;
  width: 143px;
  min-height: 48px;
  color: var(--icon-main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  appearance: none;
}

.range-input-from {
  border-radius: 4px 0 0 4px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.range-input-from-placeholder {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 30%;
  padding: 0 20px;
}

.hotel-filters-bar-control {
  position: relative;
  width: 287px;
  height: 20px;
}


.hotel-filters-bar-control::before,
.hotel-filters-bar-control::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text-background-active-color);
  height: 4px;
  content: "";
}

.hotel-filters-bar-control::before {
  left: 0;
  background-color: var(--background-basic-color);
  width: 227px;
}

.hotel-filters-bar-control::after {
  right: 0;
  width: 60px;
}

.filters-scale-toggle {
  position: absolute;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: var(--background-basic-color);
  width: 20px;
  height: 20px;
}

.filters-scale-toggle:hover {
  box-shadow: 0 4px 10px var(--inputs-shadow-color);
}

.filters-scale-toggle:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.filters-scale-toggle:focus {
  box-shadow: 0 4px 10px var(--inputs-shadow-color);
}

.filters-scale-toggle:active {
  outline: 2px solid var(--border-input-color);
  box-shadow: 0 7px 15px var(--inputs-shadow-color);
}

.filters-scale-min-control {
  left: 0;
}

.filters-scale-max-control {
  right: 60px;
}

.hotel-filters-form {
  display: flex;
}

.hotel-filters-form .button {
  font-family: inherit;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.button-apply {
  margin-bottom: 28px;
  border-width: 0;
}

/* Advantages Section Styles */
.advantages {
  margin-bottom: 63px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-description {
  margin-bottom: 90px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-primary {
  background-color: var(--background-main-color);
  color: var(--text-background-color);
}

.card-secondary-accent {
  background-color: var(--background-secondary-accent-color);
  color: var(--text-main-color);
}

.card-title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: var(--text-main-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.card-title-decorated::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--card-border-decorative-color);
  width: 60px;
  height: 2px;
  content: "";
}

.card-primary-decorated::after {
  background-color: var(--card-primary-border-decorative-color);
}

.card-description {
  margin: 0;
  color: var(--text-secondary-color);
  text-align: center;
}

.card-primary-title,
.card-primary-description {
  color: var(--text-background-color);
}

.advantage-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 103px 85px;
  max-width: 400px;
  height: 100%;
  min-height: 385px;
}

.card-secondary {
  background-color: var(--background-secondary-color);
  padding: 114px 85px;
  color: var(--text-main-color);
}

.advantage-item-wide {
  display: flex;
}

.advantage-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantage-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Recomendations Section Styles */
.recommendations {
  margin-bottom: 96px;
}

.recommendations-title {
  margin-bottom: 20px;
}

.recommendation-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 80px 85px;
  width: 400px;
  height: 100%;
  min-height: 385px;
}

.recommendation-card .card-title {
  margin: 0;
  padding-top: 2px;
}

.card-with-icon::before {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 75px;
  height: 72px;
  content: "";
}

.house-icon::before {
  background: url("../images/icons/hotels-large-icon.svg") no-repeat center / cover;
}

.food-icon::before {
  background: url("../images/icons/burger-large-icon.svg") no-repeat center / cover;
}

.souvenirs-icon::before {
  background: url("../images/icons/gift-large-icon.svg") no-repeat center / cover;
}

.recommendations-description {
  margin-bottom: 64px;
}

.recommendation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Catalog Section Styles */
.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  margin: 0;
  color: var(--text-main-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-settings {
  display: flex;
  align-items: center;
}

.catalog-sorting {
  appearance: none;
  margin-right: 70px;
  border: 2px solid var(--input-element-color);
  border-radius: 4px;
  background: var(--background-basic-color);
  background-image: url(../images/icons/arrow-icon.svg);
  background-position: center right 20px;
  background-repeat: no-repeat;
  padding: 10px 20px;
  padding-right: 40px;
  width: 292px;
  min-height: 49px;
  color: var(--text-secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
}

.catalog-sorting:hover {
  border: 2px solid var(--button-secondary-hover-color);
}

.catalog-sorting:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.catalog-sorting:disabled {
  opacity: 30%;
  border: 2px solid var(--text-main-color);
}

.catalog-style-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-style-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid var(--input-element-color);
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.catalog-style-link:hover {
  border: 2px solid var(--text-main-color);
}

.catalog-style-link:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.catalog-style-link:active {
  border: 2px solid var(--text-main-color);
}

.catalog-style-link::after {
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 16px;
  content: "";
}

.icon-card::after {
  background: url("../images/icons/grid-icon.svg") no-repeat center / cover;
}

.icon-slider::after {
  background: url("../images/icons/stack-icon.svg") no-repeat center / cover;
}

.icon-list::after {
  background: url("../images/icons/list-icon.svg") no-repeat center / cover;
}

.catalog-style-current {
  border: 2px solid var(--icon-main-color);
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 17px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: flex;
}

.catalog-card {
  display: grid;
  grid-template-rows: 212px 1fr;
  grid-template-columns: repeat(2, 140px);
  align-items: center;
  gap: 16px 20px;
  border: 1px solid var(--border-card-color);
  border-radius: 4px;
  padding: 20px;
}

.catalog-card-img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.catalog-item-wide {
  grid-column: span 2;
}

.button-favorite {
  border: 0;
  border-radius: 4px;
  min-height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;
}

.catalog-card-title {
  margin: 0;
}

.catalog-card-price {
  justify-self: end;
}

.catalog-card-stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.star-icon {
  background-image: url("../images/icons/star-icon.svg");
  background-position: left top;
  width: 18px;
  height: 17px;
}

.star-icon:last-child {
  margin-right: 0;
}

.stars-1 .star-icon:nth-child(n+3),
.stars-2 .star-icon:nth-child(n+4),
.stars-3 .star-icon:nth-child(n+5),
.stars-4 .star-icon:nth-child(n+6),
.stars-5 .star-icon:nth-child(n+7) {
  display: none;
}

.catalog-card-rating {
  border-radius: 4px;
  background-color: var(--background-page-color);
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-more-info {
  padding: 8px 26px;
}

.catalog-card-link {
  color: var(--icon-main-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.catalog-footer {
  border-top: 1px solid var(--border-card-color);
  padding-top: 40px;
}

.navigation-pages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-page-item .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Hotel Search Section Styles */
.hotel-search {
  margin-bottom: 96px;
  text-align: center;
}

.hotel-search-title {
  margin-bottom: 20px;
}

.hotel-search-description {
  margin-bottom: 54px;
}

.hotel-search .button-primary {
  padding: 16px 50px;
  font-size: 20px;
}

/* Subscription Section Styles */
.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subscription-background {
  background-image: url(../images/subscribe-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-basic-contrast-color);
  color: var(--text-background-color);
}

.subscription .section-title {
  margin-bottom: 20px;
}

.subscription-background .section-title {
  color: var(--text-background-color);
}

.subscription-section-description {
  margin-bottom: 54px;
}

.subscription-form .form-input {
  box-sizing: border-box;
  margin: 0;
  border-radius: 4px 0 0 4px;
  background-color: var(--background-page-color);
  padding: 12px 20px;
  min-width: 452px;
}

.subscription-form .form-input:hover {
  background-color: var(--input-element-hover-color);
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-input {
  box-sizing: border-box;
  background-color: var(--background-page-color);
  color: var(--text-main-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.subscription-button {
  margin: 0;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  font-family: inherit;
}

/* Footer Styles */
.main-footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 46px 70px 30px 70px;
}

.footer-contacts-phone {
  margin-left: 3px;
  color: var(--text-main-color);
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-developer-link {
  margin-top: 3px;
  color: var(--text-main-color);
}

.footer-developer-link:hover {
  color: var(--text-links-hover-color);
}

.footer-developer-link:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.footer-developer-link:focus {
  color: var(--text-links-hover-color);
}

.footer-developer-link:active {
  color: var(--text-links-active-color);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 150px;
  list-style: none;
}

.social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: var(--icon-secondary-color);
}

.social-item-link:hover {
  color: var(--icon-secondary-hover-color);
}

.social-item-link:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.social-item-link:focus {
  color: var(--icon-secondary-hover-color);
}

.social-item-link:active {
  color: var(--icon-secondary-active-color);
}

/* Modal Dialog Styles */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--modal-window-fade-color);
  width: 100%;
  height: 100%;
}

.modal-container-show {
  display: flex;
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 25px 50px var(--modal-window-shadow-color);
  border-radius: 30px;
  background-color: var(--background-basic-color);
  padding: 64px 70px;
  width: 715px;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 60px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  display: flex;
  position: absolute;
  top: 64px;
  right: 52px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 50%;
  padding: 0;
  width: 53px;
  height: 53px;
}

.modal-close-button:hover {
  background-color: var(--model-close-button-color);
}

.modal-close-button:focus-visible {
  outline: 3px solid var(--border-input-color);
}

.modal-close-button:focus {
  background-color: var(--model-close-button-color);
}

.modal-close-button:active {
  background-color: var(--model-close-button-color);
  color: var(--model-close-button-active-color);
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}


.form-container:has(.message) {
  margin-bottom: 23px;
}

.modal-input-label {
  margin: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-input-label-title {
  width: 138px;
}

.modal-input-label-content {
  max-width: 98px;
}

.modal-input-container {
  position: relative;
  flex: 1;
}

.modal-input-large {
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.calendar-button {
  position: absolute;
  top: 14px;
  right: 20px;
  opacity: 0.3;
  cursor: pointer;
  outline: none;
  border: none;
  background-image: url("../images/icons/calendar-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.calendar-button:hover {
  opacity: 1;
}

.calendar-button:focus-visible {
  outline: 3px solid var(--icon-secondary-color);
}

.calendar-button:focus {
  opacity: 1;
  border-radius: 4px;
}

.calendar-button:active {
  opacity: 0.2;
}

.message {
  margin: 0;
  margin-left: 18px;
  font-size: 16px;
}

.message-error {
  color: var(--text-error-color);
}

.guests-container {
  display: flex;
  align-items: center;
}

.children-guest {
  margin: 10px;
}

.form-input-guest-container {
  display: flex;
  position: relative;
}

.form-input-guest {
  box-sizing: border-box;
  padding: 14px 38px;
  max-width: 114px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.form-input-guest::-webkit-inner-spin-button,
.form-input-guest::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.plus-minus-button {
  position: absolute;
  top: 14px;
  align-items: center;
  opacity: 0.3;
  z-index: 1;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--transparent-decoration-color);
  width: 25px;
  height: 25px;
}

.plus-button {
  right: 10px;
  background-image: url("../images/icons/plus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.minus-button {
  left: 10px;
  background-image: url("../images/icons/minus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.plus-minus-button:hover {
  opacity: 1;
}

.plus-minus-button:focus-visible {
  outline: 3px solid var(--icon-secondary-color);
}

.plus-minus-button:focus {
  opacity: 1;
  border-radius: 4px;
}

.plus-minus-button:active {
  opacity: 0.2;
}

.tooltip-input {
  display: flex;
  position: relative;
}

.tooltip {
  position: relative;
  margin-top: 11px;
}

.tooltip-toggle {
  display: block;
  position: relative;
  margin-right: 42px;
  border: none;
  border-radius: 50%;
  background-color: var(--border-input-color);
  width: 26px;
  height: 26px;
}

.info-icon {
  fill: var(--text-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.tooltip-text {
  display: none;
  position: absolute;
  top: 40px;
  left: 13px;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--background-tooltip-color);
  padding: 21px 18px 23px 22px;
  width: 256px;
  color: var(--text-background-color);
  font-size: 16px;
  line-height: 20px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/icons/popup-triangle-icon.svg");
  width: 19px;
  height: 9px;
  content: "";
}

.modal-form .button {
  border-width: 0;
  padding: 18px 77px;
}
